<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

</head>

<body>
    <!-- Titre -->
    <div class="block">
        <center>
            <h1 class="title"> Fighting Game [<%= name %> ]</h1>
        </center>
    </div>


    <!-- Titre -->
    <div class="block">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <center>
                        <h1 class="title"> Fighting Game</h1><br />
                    </center>
                    DDJID ESOFJOIJSEF FESJFOISEJF FSEIJFSEPF FESJFSE FESSJFPESOF FESIJFEOPSJF SFEJFJSPOF SEFJSEOPJFSE
                    FESIJFPSEF FIESJFJESPF FESIJFJSEPF FIJESFJESP FEISJFJOPSEPFF FESJFPESJF ESPJFSEPJFPSE FESIJFPSEJF
                    ESIJFSEIJFES FIJESPFJSEPFJESJF ESJFOSEJ FJ SEOF JSEIJFSEJ FJIOSE FJES FJESJFIESFJ ES
                </div>
                <div class="column">
                    <center>
                        <h1 class="title"> Register</h1><br />
                    </center>

                    <div class="block">

                        <div class="field">
                            <label class="label">Pseudo</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Pseudo" name="pseudo">
                            </div>
                        </div>

                        <div class="control">
                            <label class="label">Classe</label>
                            <div class="select">

                                <select name="name_class">
                                    <% for( let index = 0; index < classes.length; index++ ) { %>
                                    <option value="<%= classes[index].name %> "> <%= classes[index].name %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="control">
                            <button class="button is-primary" onclick="postPersonnage(event)">Create hero</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
</body>


</html>